<header class="header">
  <button class="menu-btn" @click="$dispatch('toggle-menu')">MENU</button>
  
  <div class="logo">
    {% if settings.logo %}
      <a href="{{ routes.root_url }}">
        <img src="{{ settings.logo | img_url: '150x' }}" alt="{{ shop.name }}" class="logo-img">
      </a>
    {% else %}
      <a href="{{ routes.root_url }}" class="logo-text">
        {{ shop.name }}
      </a>
    {% endif %}
  </div>
  
  <button class="cart-btn" @click="$dispatch('toggle-cart')">
    CART (<span x-text="cartCount">{{ cart.item_count }}</span>)
  </button>
</header>